.github/
.vscode/
.history/
back/
cli/
data/
src/
static/**/*.js.map
static/**/*.gz
.editorconfig
.gitignore
.prettierignore
.prettierrc
.umirc.ts
nodemon.json
pnpm-lock.yaml
tsconfig.back.json
tsconfig.json
typings.d.ts
.env