**/*.md
**/*.svg
**/*.ejs
**/*.html
.umi
.umi-production
.umi-test
.history
.tmp
node_modules
npm-debug.log*
yarn-error.log
yarn.lock
package-lock.json
static
data
DS_Store
src/.umi
src/.umi-production
src/.umi-test
.env.local
.env
version.ts
/.tmp