# 更新shell及面板代码
55 2,13 * * * CMD_UPDATE >> ${QL_DIR}/log/git_pull.log 2>&1

# 重新build面板
# 30 7 */7 * * rebuild >> ${QL_DIR}/log/rebuild.log 2>&1

# 删除 RmLogDaysAgo 指定天数以前的旧日志，本行为不记录日志
57 13 * * * CMD_RMLOG >/dev/null 2>&1

# 重启挂机脚本
# 33 3 * * * CMD_TASK hangup

# 运行所有脚本(慎用)
# 33 9 */7 * * CMD_TASK runall

# 其他定时任务
