# 更新shell及面板代码
55 2,13 * * * git_pull >> ${QL_DIR}/log/git_pull.log 2>&1

# 更新你需要的仓库的代码
# diy test作者 test仓库 test路径1|test路径2 黑名单1文件名|黑名单2文件名
33 * * * * diy whyour hundun "quanx/jx|quanx/jd" tokens >> ${QL_DIR}/log/diy_pull.log 2>&1
31 * * * * diy monk-coder dust i-chenzhe >> ${QL_DIR}/log/diy_pull.log 2>&1

# 重新build面板
# 30 7 */7 * * rebuild >> ${QL_DIR}/log/rebuild.log 2>&1

# 删除 RmLogDaysAgo 指定天数以前的旧日志，本行为不记录日志
57 13 * * * rm_log >/dev/null 2>&1

# 导出所有互助码清单，日志在log/export_sharecodes下
48 5 * * * export_sharecodes

# 重启挂机脚本
# 33 3 * * * js hangup

# 重置密码
# 33 6 */7 * * js resetpwd

# 运行所有脚本(慎用)
# 33 9 */7 * * js runall

# 其他定时任务
