.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 130px;
  .right {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .title {
      font-size: 25px;
      margin-bottom: 10px;
    }

    .desc {
      margin-bottom: 10px;
    }
  }
}
