.ant-table-pagination.ant-pagination {
  margin-bottom: 0 !important;
}

.cron {
  &:hover {
    cursor: pointer;
  }
}

.cron-detail-info-item {
  flex: auto;

  .cron-detail-info-title {
    color: #888;
  }

  .cron-detail-info-value {
    margin-top: 18px;
  }
}
