.ant-table-pagination.ant-pagination {
  margin-bottom: 0 !important;
}

.crontab-detail {
  .card-wrapper {
    height: 80vh;
    height: calc(80vh - var(--vh-offset, 0px));

    .ant-card:last-child {
      .ant-card-body {
        height: calc(80vh - 238px);
        height: calc(80vh - var(--vh-offset, 0px) - 238px);
        overflow-y: auto;
      }
    }
  }

  .ant-modal-body {
    background: #eee;
    padding: 12px;
  }

  .ant-card-body {
    padding: 18px;
  }
  .ant-card-head {
    padding: 0 18px;
  }

  .ant-card:first-child {
    max-height: 66px;
    overflow: auto;

    .ant-card-body {
      min-width: 600px;
    }

    .cron-detail-info-item {
      display: flex;

      .cron-detail-info-title {
        width: 50px;
      }

      .cron-detail-info-value {
        flex: 1;
        margin-top: 0;
      }
    }
  }

  .ant-card:nth-child(2) {
    overflow-x: auto;

    .ant-card-body {
      display: flex;
      justify-content: space-between;
      min-width: 600px;
    }
  }

  .cron-detail-info-item {
    flex: auto;

    .cron-detail-info-title {
      color: #888;
    }

    .cron-detail-info-value {
      margin-top: 12px;
    }
  }

  .crontab-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 32px;

    .operations {
      display: flex;
      align-items: center;

      .ant-btn:not(:first-child) {
        margin-left: 8px;
      }
    }
  }
}

.log-item {
  cursor: pointer;
  &:hover {
    background: #fafafa;
  }
}

.crontab-view {
  .ant-tabs-nav-wrap {
    flex: unset !important;
  }

  .ant-tabs-nav-operations {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
  }

  .view-more {
    margin-left: 32px;
    padding: 8px 0;
    cursor: pointer;

    .ant-tabs-ink-bar {
      width: 0;
    }

    &:hover,
    &:focus-visible {
      color: #1890ff;

      .ant-tabs-ink-bar {
        width: 50px;
      }
    }

    &.active {
      color: #1890ff;

      .ant-tabs-ink-bar {
        width: 50px;
      }
    }
  }

  &.more-active {
    .ant-tabs-nav-list {
      .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: unset;
      }

      .ant-tabs-ink-bar {
        width: 0 !important;
      }
    }
  }
}

.view-create-modal-filters {
  display: flex;

  .ant-space-item:nth-child(3) {
    flex: 1;
  }
}

.view-create-modal-sorts {
  display: flex;

  .ant-space-item:nth-child(2) {
    flex: 1;
  }
}

tr.drop-over-downward td {
  border-bottom: 2px dashed #1890ff;
}

tr.drop-over-upward td {
  border-top: 2px dashed #1890ff;
}

.view-manage-modal {
  .ant-modal-body {
    padding-top: 10px;
  }
}

.view-filters-container.active {
  .filter-item > div > .ant-form-item-control {
    padding-left: 40px;
  }
}
